@import '../../../../../styles/styles.scss';

.btn {
  width: 7.97rem;
  height: 2rem;
  background-color: $very-dark-Cyan;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  font-weight: bold;
  color: $white;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (min-width: 850px ) {
  .btn {
  width: 4rem;
  }
}
.btn__custom {
  background-color: $very-light-grayish-Cyan;
  font-family: "Space Mono", monospace;
  color: $dark-grayish-Cyan;
  font-size: 0.8rem;
}
.btn:hover {
  background-color: $strong-Cyan;
  color: $very-dark-Cyan;
}