
@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

@mixin font-space-700 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 18px;
  color: $dark-grayish-Cyan;
}