@import "../styles/styles.scss";

.main {
  .container {
    background-color: $light-grayish-Cyan;
    .text {
      @include font-space-700;
      text-transform: uppercase;
      letter-spacing: 10px;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 2rem;
    }
    
    .container__card {
      margin: 0 auto;
      padding: 0.7rem;
      height: 54vh;
      width: 45vh;
      background-color: $white;
      border-radius: 15px;
    }
  }
  .footer {
    background-color: $very-dark-Cyan;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}





