@import "../../../../styles/styles.scss";
.container {
  font-family: "Space Mono", monospace;

  .container__label {
    color: $dark-grayish-Cyan;
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
  }

  .container__input {
    position: relative;
    color: $dark-grayish-Cyan;
    .label__input {
      background-color: $very-light-grayish-Cyan;
      font-size: 0.9rem;
      color: $very-dark-Cyan;
      border: 0.15rem solid transparent;
      font-family: "Space Mono", monospace;
      border-radius: 0.4rem;
      outline: none;
      direction: rtl;
      font-weight: bold;
      height: 2rem;
      width: 100%;
      padding: 0.3rem;
    }
    .label__input:focus {
      border: 0.15rem solid $strong-Cyan;
    }
    .label__img {
      position: absolute;
      width: 12px;
      height: 15px;
      top: 14px;
      left: 13px;
    }
  }
}
